In [21]:
import geopandas

In [22]:
a = geopandas.read_file('tessellation.shp', dtype={'tile_ID':str})

In [23]:
a = a[['tile_ID','geometry']]

In [24]:
list(a.columns)

['tile_ID', 'geometry']

In [25]:
b = geopandas.read_file('output_areas.shp',dtype={'GEOID':str})

In [26]:
b = b[['GEOID','geometry']]

In [27]:
b['centroid'] = b['geometry'].centroid

<ipython-input-27-238f9a25cbc4>:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  b['centroid'] = b['geometry'].centroid

In [29]:
b["area_km2"] = b['geometry'].area/ 10**6

<ipython-input-29-a399511e1f99>:1: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  b["area_km2"] = b['geometry'].area/ 10**6

In [42]:
b['centroid'].x

0      -73.997343
1      -73.991602
2      -73.987709
3      -73.988359
4      -74.015928
          ...
5406   -73.880222
5407   -73.779719
5408   -73.882592
5409   -73.773887
5410   -73.777857
Length: 5411, dtype: float64

In [39]:
b['combined']= b['centroid'].x.values.tolist()

,GEOID,geometry,centroid,area_km2,centroid_lat,centroid_lng
0,36047000700,"POLYGON ((-74.00154 40.69279, -74.00132 40.693...",POINT (-73.99734 40.69235),1.883320e-11,-73.997343,40.692350
1,36047000900,"POLYGON ((-73.99405 40.69090, -73.99374 40.691...",POINT (-73.99160 40.69172),1.741538e-11,-73.991602,40.691721
2,36047001100,"POLYGON ((-73.99073 40.69305, -73.99045 40.693...",POINT (-73.98771 40.69329),1.795272e-11,-73.987709,40.693290
3,36047001300,"POLYGON ((-73.99141 40.69863, -73.99131 40.699...",POINT (-73.98836 40.69761),3.123592e-11,-73.988359,40.697615
4,36047002000,"POLYGON ((-74.01867 40.64741, -74.01809 40.647...",POINT (-74.01593 40.64804),1.641089e-11,-74.015928,40.648041
...,...,...,...,...,...,...
5406,36081027900,"POLYGON ((-73.88189 40.75208, -73.88096 40.752...",POINT (-73.88022 40.75167),1.889022e-11,-73.880222,40.751673
5407,36081028000,"POLYGON ((-73.78243 40.69034, -73.78160 40.690...",POINT (-73.77972 40.68832),1.762020e-11,-73.779719,40.688316
5408,36081028100,"POLYGON ((-73.88431 40.75567, -73.88351 40.755...",POINT (-73.88259 40.75222),1.860103e-11,-73.882592,40.752220
5409,36081028200,"POLYGON ((-73.77709 40.68820, -73.77662 40.688...",POINT (-73.77389 40.68499),1.943792e-11,-73.773887,40.684995
5410,36081028400,"POLYGON ((-73.78302 40.68428, -73.78213 40.684...",POINT (-73.77786 40.68250),4.574621e-11,-73.777857,40.682503

In [34]:
b['centroid_lng'] = b['centroid'].y

In [35]:
b

,GEOID,geometry,centroid,area_km2,centroid_lat,centroid_lng
0,36047000700,"POLYGON ((-74.00154 40.69279, -74.00132 40.693...",POINT (-73.99734 40.69235),1.883320e-11,-73.997343,40.692350
1,36047000900,"POLYGON ((-73.99405 40.69090, -73.99374 40.691...",POINT (-73.99160 40.69172),1.741538e-11,-73.991602,40.691721
2,36047001100,"POLYGON ((-73.99073 40.69305, -73.99045 40.693...",POINT (-73.98771 40.69329),1.795272e-11,-73.987709,40.693290
3,36047001300,"POLYGON ((-73.99141 40.69863, -73.99131 40.699...",POINT (-73.98836 40.69761),3.123592e-11,-73.988359,40.697615
4,36047002000,"POLYGON ((-74.01867 40.64741, -74.01809 40.647...",POINT (-74.01593 40.64804),1.641089e-11,-74.015928,40.648041
...,...,...,...,...,...,...
5406,36081027900,"POLYGON ((-73.88189 40.75208, -73.88096 40.752...",POINT (-73.88022 40.75167),1.889022e-11,-73.880222,40.751673
5407,36081028000,"POLYGON ((-73.78243 40.69034, -73.78160 40.690...",POINT (-73.77972 40.68832),1.762020e-11,-73.779719,40.688316
5408,36081028100,"POLYGON ((-73.88431 40.75567, -73.88351 40.755...",POINT (-73.88259 40.75222),1.860103e-11,-73.882592,40.752220
5409,36081028200,"POLYGON ((-73.77709 40.68820, -73.77662 40.688...",POINT (-73.77389 40.68499),1.943792e-11,-73.773887,40.684995
5410,36081028400,"POLYGON ((-73.78302 40.68428, -73.78213 40.684...",POINT (-73.77786 40.68250),4.574621e-11,-73.777857,40.682503

In [9]:
b.drop(columns=['geometry'], inplace=True)

In [14]:
b.rename(columns={'centroid':'geometry'},inplace=True)

In [15]:
b

            GEOID                    geometry
0     36047000700  POINT (-73.99734 40.69235)
1     36047000900  POINT (-73.99160 40.69172)
2     36047001100  POINT (-73.98771 40.69329)
3     36047001300  POINT (-73.98836 40.69761)
4     36047002000  POINT (-74.01593 40.64804)
...           ...                         ...
5406  36081027900  POINT (-73.88022 40.75167)
5407  36081028000  POINT (-73.77972 40.68832)
5408  36081028100  POINT (-73.88259 40.75222)
5409  36081028200  POINT (-73.77389 40.68499)
5410  36081028400  POINT (-73.77786 40.68250)

[5411 rows x 2 columns]

<ipython-input-16-f31f7fb6f3cc>:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4269
Right CRS: EPSG:4326

  join = geopandas.sjoin(b, a, how="inner", op="within")

In [19]:
join.drop(columns=['index_right'], inplace=True)

In [20]:
join

            GEOID                    geometry tile_ID
0     36047000700  POINT (-73.99734 40.69235)     343
1     36047000900  POINT (-73.99160 40.69172)     343
2     36047001100  POINT (-73.98771 40.69329)     343
3     36047001300  POINT (-73.98836 40.69761)     343
4     36047002000  POINT (-74.01593 40.64804)     343
...           ...                         ...     ...
5250  36073401200  POINT (-78.36038 43.33894)      55
5289  36033950601  POINT (-74.14486 44.70256)     367
5291  36033950301  POINT (-74.49601 44.83346)     314
5292  36033951300  POINT (-74.48377 44.73388)     313
5294  36033950701  POINT (-74.43275 44.49454)     312

[5411 rows x 3 columns]

In [ ]:
pop =