In [1]:
import geopandas

In [2]:
a = geopandas.read_file('tessellation.shp')

In [3]:
a

    tile_ID                                           geometry
0         0  POLYGON ((-79.76194 41.99721, -79.76194 42.163...
1         1  POLYGON ((-79.76194 42.16389, -79.76194 42.330...
2         2  POLYGON ((-79.76194 42.33013, -79.76194 42.495...
3         3  POLYGON ((-79.76194 42.49594, -79.76194 42.661...
4         4  POLYGON ((-79.53737 41.99721, -79.53737 42.163...
..      ...                                                ...
470     470  POLYGON ((-72.12626 40.98793, -72.12626 41.157...
471     471  POLYGON ((-72.12626 41.15723, -72.12626 41.326...
472     472  POLYGON ((-71.90169 40.81819, -71.90169 40.987...
473     473  POLYGON ((-71.90169 40.98793, -71.90169 41.157...
474     474  POLYGON ((-71.90169 41.15723, -71.90169 41.326...

[475 rows x 2 columns]

In [5]:
from skmob.tessellation import tilers

tessellation = tilers.tiler.get("squared", base_shape="Beijing, China", meters=15000)